#mainCanvas {
    position: absolute;
    z-index: -1;
}

#info {
    display: inline-block;
    position: absolute;
    background: #ffffff7f;
    width: 200px;
    border: 1px solid #3f3f3f;
    z-index: 0;
}

#info p {
    margin: 0;
}