#throttleDiv {
    width: 290px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -4px);
    margin: 0 auto;
}

#throttleDiv .MuiSlider-root {
    width: 240px;
    opacity: 0.6;
    top: 7px;
}

#throttleDiv .MuiSlider-track {
    background-image: linear-gradient(to right, green, red);
    background-size: 240px 10px;
}

#throttleDiv .MuiSlider-valueLabel {
    font-size: 8px;
    text-align: center;
}

#throttleLevel {
    color: white;
    margin-left: 15px;
}