#chat {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 12px;
    z-index: 0;
    background: rgba(162, 195, 255, 0.6);
    border-radius: 5px 5px 0 0;
}

#openChatButton {
    width: 100%;
    background: rgba(22, 174, 245, 0.1);
    border: 3px outset rgba(19, 70, 151, 0.43);
    border-radius: 5px 5px 0 0;
}

#chatBox {
    display: none;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.43);
}

#chatMessages {
    height: 158px;
    overflow-y: scroll;
    word-break: break-word;
}

#sendChat {
    position: absolute;
    width: 99.5%;
    bottom: 0;
}

#sendChat input {
    position: absolute;
    width: 77.5%;
    left: 0;
    bottom: 0;
}

#sendChat button {
    position: absolute;
    width: 20%;
    right: 0;
    bottom: 0;
}

.player-icon {
    margin-bottom: -3px;
    margin-right: 5px;
}